{%extends 'layout.html'%}

{%block content%}

<div>
    <form action="/CajasDinamicas" method="post">
        <div class="control-group">
            <label for="numero" class="control-label">Cantidad de números: </label>
            <div class="controls">
            <input type="number" name="numero" value={{ns}}>
            </div>
            <input type="submit" value="Generar Cajas">
        </div>
    </form>
    <hr>

    {%from "_macro.html" import render_cajas%}
    <form action="/resultados" method="post">
        {%if active%}
            {%for n in range(ns)%}
                {{render_cajas(n)}}
            {%endfor%}
            <div class="custom-control">
                <input type="submit" value="Calcular">
            </div>
        
        {%endif%}
    </form>
</div>

{%endblock%}