{% extends "layout.html" %}

{% block content %}

{% from "_macros.html" import render_field %}
<div style="margin-bottom: 10px;">
    <div >
        <img src="../static/img/resistenciatab.png">
    </div>
    <div >
        <div class="text-center">
            <h2>Calculadora de Resistencias</h2>
        </div>
        <form action="" method="POST" novalidate>
            {{form.csrf_token}}
            <div class="row">
                <div class="span3">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div class="control-group">
                        {{render_field(form.banda1)}}
                        {{render_field(form.banda2)}}
                        {{render_field(form.banda3)}}
                    </div>
                </div>
                <div class="span3">
                    {{render_field(form.tolerancia)}}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success" style="margin-right: 10px;" name="btnAgregar" value="btnAgregar">
                    Guardar
                </button>
                <button type="submit" class="btn btn-warning" style="margin-left: 10px;" name="btnLeerArchivo" value="btnLeerArchivo">
                    Leer Archivo
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="span12" {% if not mostrarTabla %}style="display:none" {% endif %}>
        <table class="table text-center" style="border: 1px solid black;">
            <thead>
                <tr style="border: 1px solid black;">
                    <th style="border: 1px solid black; text-align: center;">Primera Banda</th>
                    <th style="border: 1px solid black; text-align: center;">Segunda Banda</th>
                    <th style="border: 1px solid black; text-align: center;">Tercera Banda</th>
                    <th style="border: 1px solid black; text-align: center;">Tolerancia</th>
                    <th style="border: 1px solid black; text-align: center;">Valor de la resistencia</th>
                    <th style="border: 1px solid black; text-align: center;">Valor máximo</th>
                    <th style="border: 1px solid black; text-align: center;">Valor mínimo</th>
                </tr>
            </thead>
            <tbody>
                {% for n in range(cantidadLineas) %}
                <tr>
                    <td style="border: 1px solid black;" bgcolor="{{valorHexBanda1[n]}}"></td>
                    <td style="border: 1px solid black;" bgcolor="{{valorHexBanda2[n]}}"></td>
                    <td style="border: 1px solid black;" bgcolor="{{valorHexBandaMulti[n]}}"></td>
                    <td style="border: 1px solid black;" bgcolor="{{valorHexTolerancia[n]}}"></td>
                    <td style="text-align: center; border: 1px solid black;">{{valorResistencia[n]}} Ω</td>
                    <td style="text-align: center; border: 1px solid black;">{{maxValor[n]}} Ω</td>
                    <td style="text-align: center; border: 1px solid black;">{{minValor[n]}} Ω</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}