{%extends 'layout.html'%}

{%block content%}

<div>
    <form action="" method="POST">
        <div class="control-group">
            <input type="hidden" id="bandera" name="bandera" >
            <label for="ingles" class="control-label">Ingles: </label>
            <div class="controls">
            <input type="text" name="ingles" value={{ns}}>
            </div>
            <label for="espanol" class="control-label">Español: </label>
            <div class="controls">
            <input type="text" name="espanol" value={{ns}}>
            
            </div>
            <input type="submit" value="Agregar"  onclick="document.getElementById('bandera').value = '1';">
        </div>
    </form>
    <hr>

    <form action="" method="POST">
        <div class="control-group">
            <input type="hidden" id="bandera2" name="bandera2" >
            <fieldset>
                <legend>Elige el idioma</legend>
                <label>
                    <input type="radio" name="numero" value="1" checked> Español
                </label>
                <label>
                    <input type="radio" name="numero" value="2"> Ingles
                </label>
                <label for="buscar" class="control-label">Palabra a buscar: </label>
                <div class="controls">
                <input type="text" name="buscar" value={{ns}}>
            </fieldset>
            <input type="submit" value="Buscar"  onclick="document.getElementById('bandera2').value = '2';">
            {%if active%}
            <h2>{{active}}</h2>    
            {%endif%}
        </div>
    </form>
    <hr>

    

{%endblock%}